body {
  font-family: var(--font-family);
  margin: 0;
  font-size: 14px;
  color: hsl(var(--subtext-0-color));
  background-color: hsl(var(--crust-color));
  min-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-height: 100svh;
  max-width: 550px;
  padding-inline: 30px;
  margin-inline: auto;
}

h1 {
  color: hsl(var(--brand-color));
  font-size: clamp(1.8rem, 6vw, 4.5rem);
  font-weight: 700;
  text-align: center;
}

p {
  color: hsl(var(--subtext-0-color));
  font-size: var(--font-md);
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-md);
  margin-top: var(--gap-md);
  width: 100%;
}

nav input {
  width: calc(75% - var(--gap-md));
}

nav button {
  width: 25%;
}

.error {
  color: hsl(var(--maroon-color));
  background-color: hsl(var(--maroon-color) / 0.1);
  border-radius: var(--radius-md);
  padding: var(--gap-sm) var(--gap-md);
  margin-top: var(--gap-md);
  text-align: center;
  width: 100%;
}

.verbose {
  color: hsl(var(--lavender-color));
  background-color: hsl(var(--lavender-color) / 0.1);
  border-radius: var(--radius-md);
  padding: var(--gap-sm) var(--gap-md);
  margin-top: var(--gap-md);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav button,
  nav input {
    width: 100%;
  }
}
