.upload-item {
	--_state-size: 50px;

	display: grid;
	grid-template-columns: var(--_state-size) 1fr 130px;
	align-items: center;
	gap: var(--gap-md);
	padding: var(--gap-md);
	background: hsl(var(--base-color));
	border-radius: var(--radius-md);
	margin-top: var(--gap-sm);

	@container (width < 800px) {
		--_state-size: 80px;
		display: flex;
		flex-flow: column;

		.upload-info {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}

		.upload-info .state-info,
		.upload-info .local-info {
			text-align: center;
		}

		.upload-info .upload-info-headers {
			display: flex;
			flex-flow: row wrap;
			gap: var(--gap-md);
			justify-content: center;
			margin-bottom: var(--gap-md);
		}

		.action-wrapper > * {
			width: 100%;
		}
	}
}

.upload-state {
	position: relative;
	width: var(--_state-size);
	height: var(--_state-size);
	background-color: hsl(var(--surface-0-color));
	border-radius: var(--radius-md);
	isolation: isolate;
}

.upload-state .progress {
	--_remote-progress: 0;
	--_local-progress: 0;
	--_remote-color: hsl(var(--surface-1-color));
	--_local-color: hsl(var(--surface-1-color) / 0.4);
	--_percentage: max(var(--_local-progress), var(--_remote-progress));

	position: absolute;
	inset: 0;
	border-radius: var(--radius-lg);
	background: conic-gradient(
		from 0.5turn,
		/* Remote */
		var(--_remote-color) 0%,
		var(--_remote-color) var(--_remote-progress),
		/* Local if possible */
		var(--_local-color) var(--_remote-progress),
		var(--_local-color) var(--_percentage),
		/* The rest */
		transparent var(--_percentage),
		transparent 100%
	);
	transition: background 2s;
	z-index: 5;
}

.upload-state .upload-icon-wrapper {
	display: grid;
	place-items: center;
	position: absolute;
	inset: 4px;
	z-index: 10;
	background-color: hsl(var(--surface-1-color));
	border-radius: var(--radius-md);
}

.upload-state .upload-icon-wrapper svg {
	width: calc(var(--_state-size) * 0.5);
	height: calc(var(--_state-size) * 0.5);
	color: hsl(var(--text-color));
}

.upload-info {
	--_calc-font-size: clamp(0.8rem, 2vw, 1.2rem);

	display: flex;
	gap: var(--gap-md);
	width: 100%;
}

.upload-info .state-info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 40%;
	max-width: 200px;
	overflow: hidden;
}

.upload-info .state-info .file-state {
	text-transform: lowercase;
	color: hsl(var(--subtext-1-color));
	font-weight: 500;
}

.upload-info .state-info .file-name {
	font-weight: 600;
	font-size: var(--_calc-font-size);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.local-info {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	max-width: 400px;
}

.local-info .upload-info-headers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap-sm);
	width: 100%;
	text-transform: lowercase;
	font-weight: 500;
	color: hsl(var(--subtext-1-color));
}

.local-info .upload-info-main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap-sm);
	width: 100%;
	font-size: var(--_calc-font-size);
	font-weight: 600;
}

.local-info .upload-uuid {
	grid-column: span 3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upload-item .action-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: var(--gap-md);
	height: fit-content;
}

.upload-item .action-wrapper .btn {
	font-size: var(--font-sm);
}

.upload-item .action-wrapper .copy-fail {
	cursor: text !important;
	padding: var(--gap-sm);
	background-color: hsl(var(--crust-color)) !important;
	width: 100%;
}

.upload-item .error-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	grid-column: span 3;
	width: 100%;
	gap: var(--gap-md);
	height: fit-content;
	color: hsl(var(--maroon-color));
	border-top: 2px solid hsl(var(--surface-1-color));
	padding-top: var(--gap-md);
	font-size: var(--font-sm);
	font-weight: 500;
}
