.aside-header {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.aside-header-icon {
  display: grid;
  place-items: center;
  height: 42px;
  width: 42px;
  min-width: 42px;
  background-color: hsl(var(--brand-color));
  color: hsl(var(--crust-color));
  border-radius: var(--radius-md);
  padding: var(--gap-sm);
  font-size: var(--font-lg);
  font-weight: 600;
}

.aside-header h2 {
  flex-grow: 1;
  white-space: nowrap;
}

.aside-header .btn {
  background-color: transparent;
}

.aside-header .btn > svg {
  height: 24px;
  width: 24px;
}